body {
    text-align: center;
}

#bigDiv {
    background:#003386;
    color: white;
    font-family: Monotype Corsiva;
    font-size: 22px;
    width: 70%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#Developers {
    margin: 0;
    background: #003386;
    height: 100%;
    width: 50%;
    float: left;
    margin-top: 0;
    padding: 0;
}

image {
    width: 220px;
    height: 220px
}