body {
    font-family: Monotype Corsiva;
    color: white;
    text-align: center;
}

h1 {
    font-size: 45px;
    font-weight: bold;
}

.titles {
    height: 20px;
    margin: 3px;    
}

.img_block {
    border: 2px solid #003386;
    border-radius: 20px;
    padding: 8px;
    width: 250px;

    float: left;
    margin: 15px;

    font-size: 25px;
}

.image {
    width: 65%;
    height: 20%;
    float: left;
}

.img_block_inner {
    position: relative;
    padding-top: 15px;
    margin-bottom: 0;

}

.checkbox {
    position: absolute;
    z-index: 2;
    background: #3561b2;
    padding: 2px;
}

.radiobn {
    width: 35%;
    float: left;
    display: inline-block;
    font-size: 20px;
    color: black;
    padding-top: 10px;
}

#submit {
   background: green;
}