body {
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#outerFrame {
    width:100%;
    margin:auto;
    background-color:silver;
}

#header {
    background-color:#3366CC;
    padding: 12px;
    top: 0;
}

#nav {
    background-color: silver;
    color: whitesmoke;
    text-align: center;
    height: 530px;
    width: 224px;
    float: left;
    margin-left: 2px;
    padding: 10px;
}

#section {
    background-color: #3561b2;
    float:left;
    height:546px;
    width:84.22%;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}

#submit {
    font-family: monotype corsiva;
    font-size: 22px;
    width: 180px;
    height: 28px;
    color: red;
}